numpy==1.26.4
h5py==3.12.1
matplotlib==3.8.2
scikit-learn==1.3.2
seaborn==0.13.2
pandas==2.1.4
tensorflow-model-optimization==0.8.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.1
scipy==1.11.4
keras==2.14.0

